@import "~sass-mq";

h2 {
  @include mq($until: tablet) {
    display: none;
  }
}

img {
  width: 100vw;
  height: 30vh;
  //@include  mq($from: mobile){
  //  height: 10em;
  //}
  //@include  mq($from: tablet){
  //  height: 25em;
  //}
}