.image-container-wrapper {
  display: flex;
  justify-content: center;
}

.image-container {
  display: flex;
  flex-direction: row;
  width: 80em;
  justify-content: center;
  flex-wrap: wrap;
}

.image-wrapper {
  padding: 4em 5em;
}