<!--<h3>{{ // message }}</h3>-->
<!--<div>{{ message }}</div>-->

<input [(ngModel)]="queryString">
<div class="image-container-wrapper">
    <div class="image-container">

        <div class="image-wrapper"
             *ngFor="let image of images | filter: queryString | paginate: { itemsPerPage: 10, currentPage: p,totalItems: 151 }; let i=index">
            <img [src]="image.url" [alt]="image.name"/>
            <div class="details">
                <label>#<strong>{{i+1}}</strong></label>
                <strong>Name: {{image.name}}</strong>
            </div>
        </div>
    </div>
</div>
<mat-paginator [length]="length"
               [pageSize]="pageSize"

               (page)="onPageChange($event)">
</mat-paginator>

<pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
