

<div class="image-container-wrapper">
    <!--<input [(ngModel)]="queryString" type="text" name="search" class="search-box">-->
    <mat-form-field class="example-form-field" appearance="outline" class="search-box">
        <input matInput type="text" placeholder="Search" [(ngModel)]="queryString">
        <mat-hint>Search for a hero</mat-hint>
    </mat-form-field>

    <div *ngIf="loading"><!--  app.component.html -->
        <circle-progress
                [percent]="85"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="15000"
                [showSubtitle]="true"
                subtitle="Fetching data from server"
        >Fetching data</circle-progress></div>
    <div class="image-container" *ngIf="!loading">

        <div class="image-wrapper"
             *ngFor="let image of images | filter: queryString | paginate: { itemsPerPage: 20, currentPage: p,totalItems: 151 }">
            <img [src]="'../../assets/images/'+image.id+'.png'" [alt]="image.name"/>
            <div class="details">
                <label>#<strong>{{image.id}}</strong></label>
                <strong>{{image.name}}</strong>
            </div>
        </div>
    </div>
    <pagination-controls
            class="pagination-ctrl"
            (pageChange)="onPageChange($event)"
            previousLabel=""
            nextLabel=""></pagination-controls>
</div>
